@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --bg-base: #ffffff;
    --bg-primary: #00bb9b;
    --bg-primary-hover: #14ae95;
    --bg-active: #f4dd14;
    // --bg-active: #ffee59;
    --shadow-primary: #bad3d7;
    --shadow-primary-dark: #1e433d7d;
    --bg-green: #00bb9b;
    --w-sidebar-active-mobile: 70vw;
    --w-sidebar-active-mobile-minus: -70vw;
    --w-sidebar-active-tablet: 50vw;
    --w-sidebar-active-tablet-minus: -50vw;
}

// @media (prefers-color-scheme: dark) {
//     :root {
//         --foreground-rgb: 255, 255, 255;
//         --background-start-rgb: 0, 0, 0;
//         --background-end-rgb: 0, 0, 0;
//     }
// }

::-webkit-scrollbar {
    display: none;
}

input[type="date"] {
    &::-webkit-calendar-picker-indicator {
        // background-color: #ffffff;
        padding: 10px;
        border-radius: 5px;
        color: white;
    }

    &::-webkit-datetime-edit {
        color: var(--bg-primary);
        /* Ubah warna teks tanggal yang telah dipilih */
    }



    &:focus {
        // outline: none;
        outline-width: 0.4px;
        outline-color: var(--bg-green);
        // background-color: #00bb9b;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: (var(--bg-base));
    font-family: sans-serif;
}

.bg-primary {
    background-color: var(--bg-green);
}

.bg-primary-outline {
    background-color: var(--bg-base);
    color: var(--bg-primary);
}

.main-section {
    // padding: 20px 60px 20px 60px;
    min-height: 80vh;
    margin-top: 15vh;
}

.section {
    margin-top: 20px;
    // padding: 20px;
    width: 100%;
    min-height: 85vh;
    background-color: var(--bg-base);
    padding: 20px;
    // box-shadow: 0px 2px 5px 0px var(--shadow-primary);
}

.navbar {
    padding: 20px;
    background-color: var(--bg-base);
    box-shadow: 0px 0px 15px -5px var(--shadow-primary-dark);
    // border-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // position: fixed;
    z-index: 10;
    width: 95vw;
    // top: 0;
    // left: 0;

}

.navbar-dropdown {
    box-shadow: 0px 2px 5px 0px var(--shadow-primary);
    background-color: var(--bg-base);
}

// .open-sidebar {
//     transition: ease-in-out 0.3s;

//     &.active {
//         // display: none;
//     }
// }

.sidebar {
    position: fixed;
    height: 100vh;
    width: 20vw;
    top: 0;
    left: 0;
    background: var(--bg-primary);
    padding: 20px;
    transition: ease-in-out 0.4s;
    transform: translateX(-20vw);
    z-index: 20;
    // border-top-right-radius: 20px;
    // border-bottom-right-radius: 20px;

    &.active {
        transform: translateX(0vw);
        box-shadow: 0px 0px 10px -1px var(--shadow-primary-dark);

    }


}

.sidebar-item {
    &.active {
        border-color: var(--bg-active);
        border-width: 2px;
    }

    &:hover {
        border-color: var(--bg-active);
        background: var(--bg-primary-hover);
    }
}

.alert {
    position: fixed;
    top: 0;
    right: 0;
    transition: transform 0.3s ease;

    &.active {
        transform: translateY(0%);
    }

    &:not(.active) {
        transform: translateY(-100%);
    }

    .alert-body {
        margin: 30px;
        padding: 10px;
        background: var(--bg-base);
        box-shadow: 0px 0px 5px 0px var(--shadow-primary);
        border-radius: 10px;
        width: 20vw;
    }
}

.footer {
    background-color: var(--bg-base);
    padding: 20px;
    color: var(--bg-primary);
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.animasi-popup {
    animation: scaleUp 1s;

    @keyframes scaleUp {
        0% {
            transform: scale(0);
            transition: ease-in-out;
            opacity: 0;
        }

        50% {
            transform: scale(1.03);
            transition: ease-in-out;
            opacity: 1;
        }

        100% {
            transform: scale(1);
            transition: ease-in-out;
            opacity: 1;
        }
    }
}

.animasi-topToBottom {
    animation: toptoBottom 1s;

    @keyframes toptoBottom {
        0% {
            transform: translateY(-20%);
            transition: ease-in-out;
            opacity: 0;
        }

        100% {
            transform: translateY(0%);
            transition: ease-in-out;
            opacity: 1;
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .main-section {
        // padding: 10px 20px 10px 20px;
        margin-top: 10vh;
    }

    .navbar {
        // padding: 10px;
        // border-radius: 20px;
        // margin: 10px;
    }

    .sidebar {
        width: var(--w-sidebar-active-tablet);
        transform: translateX(var(--w-sidebar-active-tablet-minus));

    }

    .alert {
        position: fixed;
        top: 0;
        right: 0;
        transition: transform 0.3s ease;
        display: flex;
        justify-content: center;
        width: 100vw;

        &.active {
            transform: translateY(0%);
        }

        &:not(.active) {
            transform: translateY(-100%);
        }

        .alert-body {
            margin: 10px;
            padding: 10px;
            width: 80vw;
        }
    }
}

@media (max-width: 768px) {
    .main-section {
        // padding: 10px 20px 10px 20px;
        margin-top: 12vh;
    }

    .navbar {
        top: 0;
        padding: 10px;
        // border-radius: 20px;
        box-shadow: 0px 0px 15px -5px var(--shadow-primary-dark);
        border-radius: 20px;
        margin: 10px;
    }

    .sidebar {
        width: var(--w-sidebar-active-mobile);
        transform: translateX(var(--w-sidebar-active-mobile-minus));

    }

    .alert {
        position: fixed;
        top: 0;
        right: 0;
        transition: transform 0.3s ease;
        display: flex;
        justify-content: center;
        width: 100vw;

        &.active {
            transform: translateY(0%);
        }

        &:not(.active) {
            transform: translateY(-100%);
        }

        .alert-body {
            margin: 10px;
            padding: 10px;
            width: 80vw;
        }
    }
}