@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --bg-base: #ffffff;
    --bg-primary: #00bb9b;
    --bg-active: #f4dd14;
    --shadow-primary: #bad3d7;
    --shadow-primary-dark: #28616a;
    --bg-green: #00bb9b;
    --w-sidebar-active-mobile: 70vw;
    --w-sidebar-active-mobile-minus: -70vw
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

::-webkit-scrollbar {
    display: none;
}

input[type="date"] {
    &::-webkit-calendar-picker-indicator {
        // background-color: #00bb9b;
        padding: 10px;
        border-radius: 5px;
        color: white;
    }

    &::-webkit-datetime-edit {
        color: var(--bg-primary);
        /* Ubah warna teks tanggal yang telah dipilih */
    }


    &:focus {
        outline: none;
        outline-width: 0.4px;
        outline-color: var(--bg-green);
        // background-color: #00bb9b;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: (var(--bg-base))
}

.bg-primary {
    background-color: var(--bg-green);
}

.bg-primary-outline {
    background-color: var(--bg-base);
    color: var(--bg-primary);
}

.main-section {
    // padding: 20px 60px 20px 60px;
}

.section {
    margin-top: 20px;
    // padding: 20px;
    width: 100%;
    background-color: var(--bg-base);
    // box-shadow: 0px 2px 5px 0px var(--shadow-primary);
}

.navbar {
    padding: 20px;
    background-color: var(--bg-base);
    box-shadow: 0px 2px 5px 0px var(--shadow-primary);
    // border-radius: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navbar-dropdown {
    box-shadow: 0px 2px 5px 0px var(--shadow-primary);
}

.open-sidebar {
    transition: ease-in-out 0.7s;

    &.active {
        // display: none;
    }
}

.sidebar {
    position: fixed;
    height: 100vh;
    width: 20vw;
    top: 0;
    left: 0;
    background: var(--bg-primary);
    box-shadow: 0px 0px 10px 0px var(--shadow-primary-dark);
    padding: 20px;
    transition: ease-in-out 0.7s;
    transform: translateX(-20vw);

    &.active {
        transform: translateX(0vw);

    }

}

.sidebar-item {
    &.active {
        border-color: var(--bg-active);
        border-width: 2px;
    }
}

@media (max-width: 768px) {
    .main-section {
        // padding: 10px 20px 10px 20px;
    }

    .navbar {
        padding: 10px;
        border-radius: 20px;
        margin: 10px;
    }

    .sidebar {
        position: fixed;
        height: 100vh;
        width: var(--w-sidebar-active-mobile);
        background: var(--bg-primary);
        box-shadow: 0px 0px 10px 0px var(--shadow-primary);
        padding: 20px;
        transition: ease-in-out 0.7s;
        transform: translateX(var(--w-sidebar-active-mobile-minus));

        &.active {
            transform: translateX(0vw);
        }

    }
}