@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --bg-base: #ffffff;
  --bg-primary: #00bb9b;
  --bg-primary-hover: #14ae95;
  --bg-active: #f4dd14;
  --shadow-primary: #bad3d7;
  --shadow-primary-dark: #28616a;
  --bg-green: #00bb9b;
  --w-sidebar-active-mobile: 70vw;
  --w-sidebar-active-mobile-minus: -70vw;
  --w-sidebar-active-tablet: 50vw;
  --w-sidebar-active-tablet-minus: -50vw;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
::-webkit-scrollbar {
  display: none;
}

input[type=date]::-webkit-calendar-picker-indicator {
  padding: 10px;
  border-radius: 5px;
  color: white;
}
input[type=date]::-webkit-datetime-edit {
  color: var(--bg-primary);
  /* Ubah warna teks tanggal yang telah dipilih */
}
input[type=date]:focus {
  outline-width: 0.4px;
  outline-color: var(--bg-green);
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--bg-base);
}

.bg-primary {
  background-color: var(--bg-green);
}

.bg-primary-outline {
  background-color: var(--bg-base);
  color: var(--bg-primary);
}

.main-section {
  min-height: 100vh;
}

.section {
  margin-top: 20px;
  width: 100%;
  min-height: 85vh;
  background-color: var(--bg-base);
}

.navbar {
  padding: 20px;
  background-color: var(--bg-base);
  box-shadow: 0px 2px 5px 0px var(--shadow-primary);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-dropdown {
  box-shadow: 0px 2px 5px 0px var(--shadow-primary);
  background-color: var(--bg-base);
}

.open-sidebar {
  transition: ease-in-out 0.7s;
}
.sidebar {
  position: fixed;
  height: 100vh;
  width: 20vw;
  top: 0;
  left: 0;
  background: var(--bg-primary);
  padding: 20px;
  transition: ease-in-out 0.7s;
  transform: translateX(-20vw);
  z-index: 20;
}
.sidebar.active {
  transform: translateX(0vw);
  box-shadow: 0px 0px 10px 0px var(--shadow-primary-dark);
}

.sidebar-item.active {
  border-color: var(--bg-active);
  border-width: 2px;
}
.sidebar-item:hover {
  border-color: var(--bg-active);
  background: var(--bg-primary-hover);
}

.alert {
  position: fixed;
  top: 0;
  right: 0;
  transition: transform 0.3s ease;
}
.alert.active {
  transform: translateY(0%);
}
.alert:not(.active) {
  transform: translateY(-100%);
}
.alert .alert-body {
  margin: 30px;
  padding: 10px;
  background: var(--bg-base);
  box-shadow: 0px 0px 5px 0px var(--shadow-primary);
  border-radius: 10px;
  width: 20vw;
}

.footer {
  background-color: var(--bg-primary);
  padding: 20px;
  color: #ffffff;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .navbar {
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
  }
  .sidebar {
    position: fixed;
    height: 100vh;
    width: var(--w-sidebar-active-tablet);
    background: var(--bg-primary);
    padding: 20px;
    transition: ease-in-out 0.7s;
    transform: translateX(var(--w-sidebar-active-tablet-minus));
  }
  .sidebar.active {
    box-shadow: 0px 0px 10px 0px var(--shadow-primary-dark);
    transform: translateX(0vw);
  }
  .alert {
    position: fixed;
    top: 0;
    right: 0;
    transition: transform 0.3s ease;
    display: flex;
    justify-content: center;
    width: 100vw;
  }
  .alert.active {
    transform: translateY(0%);
  }
  .alert:not(.active) {
    transform: translateY(-100%);
  }
  .alert .alert-body {
    margin: 10px;
    padding: 10px;
    width: 80vw;
  }
}
@media (max-width: 768px) {
  .navbar {
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
  }
  .sidebar {
    position: fixed;
    height: 100vh;
    width: var(--w-sidebar-active-mobile);
    background: var(--bg-primary);
    padding: 20px;
    transition: ease-in-out 0.7s;
    transform: translateX(var(--w-sidebar-active-mobile-minus));
  }
  .sidebar.active {
    box-shadow: 0px 0px 10px 0px var(--shadow-primary-dark);
    transform: translateX(0vw);
  }
  .alert {
    position: fixed;
    top: 0;
    right: 0;
    transition: transform 0.3s ease;
    display: flex;
    justify-content: center;
    width: 100vw;
  }
  .alert.active {
    transform: translateY(0%);
  }
  .alert:not(.active) {
    transform: translateY(-100%);
  }
  .alert .alert-body {
    margin: 10px;
    padding: 10px;
    width: 80vw;
  }
}

/*# sourceMappingURL=globals.css.map */
